* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(1, 1, 14);
  width: 100%;
  height: calc(80px - 100vh);
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: rgb(1, 1, 14);
  box-shadow: 0px 2px 6px 2px rgb(36, 35, 35);
  cursor: pointer;
  height: 80px;
}

.header .right-panel {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header .right-panel ul {
  display: flex;
  gap: 60px;
}
.header .right-panel ul li {
  list-style-type: none;
}
.header .right-panel ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.header .left-panel h1 {
  color: rgb(8, 192, 8);
  font-weight: 700;
  font-size: 32px;
}
.header .right-panel button {
  background-color: rgb(8, 192, 8);
  border: none;
  padding: 7px 16px;
  border-radius: 4px;
  font-size: 18px;
}
.header .right-panel button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(7, 156, 7);
}
.header .right-panel ul li a:hover {
  color: rgb(94, 250, 94);
  border-bottom: 2px solid rgb(75, 250, 75);
}

/* =======================   Main Content   =================== */

#mian-content {
  display: flex;
  margin: auto;
  width: 100%;
  margin-top: 100px;
  height: calc(100vh - 100px);
}
#mian-content .left-content {
  width: 65%;
  height: 660px;
  margin-left: 150px;
  padding-top: 130px;
  padding-left: 10px;
}
#mian-content .left-content h1 {
  color: rgb(94, 250, 94);
  font-size: 70px;
  margin-bottom: 20px;
}
#mian-content .left-content h3 {
  font-size: 23px;
  margin-bottom: 30px;
  font-weight: 400;
}
#mian-content .left-content p {
  font-size: 16px;
  line-height: 20px;
  color: rgb(196, 196, 196);
}
#mian-content .left-content button {
  background-color: rgb(8, 192, 8);
  border: none;
  padding: 7px 16px;
  border-radius: 4px;
  font-size: 22px;
  margin-top: 30px;
}
#mian-content .left-content button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(7, 156, 7);
}

#mian-content .right-content {
  margin-right: 150px;
  width: 35%;
  height: 660px;
  background-image: url('Gym_man-removebg.png');
  background-size: cover;
  background-position: center;
}

/* =======================   Programs   ================= */

.program {
  width: 100%;
  height: 100vh;
  margin: 100px 0px;
  padding: 100px 0px;
}
.program .text {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
}

.program .text .green-heading {
  margin: 5px;
  font-size: 40px;
  font-weight: 600;
}
.program .text .green {
  color: rgb(8, 192, 8);
}

.program .container {
  display: flex;
  width: 1170px;
  margin: auto;
  padding: 70px 20px;
  justify-content: space-evenly;
}
.program .container .item {
  width: 30%;
  height: 400px;
  border-radius: 4px;
  box-shadow: 0px px 53px 1.5px gray;
}

.program .container .item1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('image1.jpg');
  background-size: cover;
  background-position: center;
}
.program .container .item2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('image2.jpg');
  background-size: cover;
  background-position: center;
}
.program .container .item3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('image3.jpg');
  background-size: cover;
  background-position: center;
}
.container .item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 40px 0px;
}
.container .item h2,
p,
button {
  margin: 10px 0px;
}
.container .item button {
  background-color: rgb(8, 192, 8);
  border: none;
  padding: 7px 16px;
  border-radius: 4px;
  font-size: 16px;
}
.container .item:hover {
  margin-top: 10px;
}
.container .item button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(7, 156, 7);
}
.container .plan-box {
  background-color: rgb(54, 54, 54);
  padding: 30px 50px;
  text-align: center;
  line-height: 30px;
}
.container .plan-box img {
  width: 50px;
}
.container .plan-box h1 {
  color: rgb(8, 192, 8);
  font-size: 35px;
  margin: 10px 0px;
  font-weight: 700;
}
.container .plan-box h2 {
  color: rgb(8, 192, 8);
  font-size: 22px;
  margin: 10px 0px;
  font-weight: 500;
}
.container .plan-box p {
  color: rgb(199, 196, 196);
}
.container .plan-box button {
  background-color: #b2701a;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.container .plan-box button:hover {
  background-color: rgb(227, 155, 21);
}

/* ================================ Blogs   =============================== */

.program .blog-container .blog-image {
  height: 500px;
}

.blog-container .blog-image .image {
  width: 100%;
  height: 50%;
  border-radius: 4px 4px 0px 0px;
  margin: 0px;
  padding: 0px;
}
.blog-container .descrition {
  width: 100%;
  height: 50%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-container .descrition p {
  text-align: center;
}
.blog-container .blog-image .image img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

/* ==================================== Contact us ============================= */

#mian-content1 {
  width: 100%;
  height: 100vh;
  margin: 100px 0px;
  padding: 80px 0px;
  display: flex;
}
#mian-content1 .right-content {
  width: 60%;
  height: 660px;
  margin-right: 50px;
  padding: 80px;
  padding-left: 230px;
}
#mian-content1 .right-content form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0.8px rgb(4, 173, 4);
  background-color: rgb(5, 25, 5);
  width: 370px;
}

#mian-content1 .right-content label {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  color: rgb(243, 241, 241);
}
#mian-content1 .right-content input {
  margin-bottom: 30px;
  padding: 9px 16px;
  background-color: rgb(207, 204, 204);
  width: 330px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
}
#mian-content1 .right-content input::placeholder {
  font-size: 16px;
  color: rgb(99, 97, 97);
}
#mian-content1 .right-content textarea {
  margin-bottom: 30px;
  width: 330px;
  background-color: rgb(207, 204, 204);
}
#mian-content1 .right-content textarea::placeholder {
  font-size: 16px;
  color: rgb(99, 97, 97);
  padding: 12px;
}
#mian-content1 .right-content button {
  text-align: center;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  background-color: rgb(8, 192, 8);
  margin-left: 115px;
}
#mian-content1 .right-content button:hover {
  background-color: rgb(7, 156, 7);
}

#mian-content1 .left-content {
  margin-left: 100px;
  width: 40%;
  height: 660px;
  background-image: url('Myproject.png');
  background-size: cover;
}

/* =============================   footer  =========================== */

footer {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  border-top: 4px solid rgb(95, 94, 94);
}
footer .about{
  padding: 50px;
  width: 50%;
  padding-left: 130px;
  margin-right:100px;
}
footer .about h2 ,p{
  margin: 20px 0px;
  line-height: 23px;
  color: rgb(178, 174, 174);
}
footer .plans{
  list-style-type: none;
  padding: 50px;
 width: 50%;
 
}
footer .plans ul li ,h2{
  margin: 20px 0px;
  color: rgb(178, 174, 174);
}
footer .plans ul, li{
  margin: 10px;
  color: rgb(178, 174, 174);
} 
